html,
body,
h1,
p,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    text-align: center;
}

.header {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 500px;
}

.header h1 {
    font-size: 40px;
    text-align: center;
}

#restartGameButton,
#newGameButton {
    display: block;
    background-color: #8f7a66;
    padding:10px;
    line-height: 40px;
    width: 120px;
    color: #fff;
    font-size:20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}

#newgameButton:hover {
    background-color: #9f8b77;
}

.header p {
    font-size: 26px;
    margin-bottom:20px;
}

#grid-container {
    width: 460px;
    height: 460px;
    padding: 20px;
    margin: 5px auto;
    background-color: #bbada0;
    border-radius: 10px;
    position: relative;
}

.grid-cell {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-color: #ccc0b3;
    position: absolute;
}

.number-cell {
    border-radius: 6px;
    position: absolute;
    text-align: center;
    font: 900 40px/100px Arial;
}

#info {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    color: #fff;
    z-index: 999;
    background:gray;
}

#info .tips {
    font-size: 30px;
    display: block;
    margin-top: 135px;
}

#info .sumScore {
    display: block;
    font-size: 30px;
    margin: 40px 0;
}
#info #restartGameButton{
    color:#fff;
    background-color: #8f7a66;

}
.extraInfo {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.extraInfo  p{
    margin: 20px auto;
}